<a href="https://colab.research.google.com/github/vishal85982/pythonprogram/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:-Vaibhav Vishal

Reg no:-38120087

Sec:-IT(B)

In [1]:
from pandas import read_csv
import numpy

In [2]:
#import the dataset
dataset = read_csv("/content/sample_data/mnist_train_small.csv",header=None)

In [3]:
#Problem 1
print(dataset.describe())

                0        1        2    ...      782      783      784
count  20000.000000  20000.0  20000.0  ...  20000.0  20000.0  20000.0
mean       4.470200      0.0      0.0  ...      0.0      0.0      0.0
std        2.892755      0.0      0.0  ...      0.0      0.0      0.0
min        0.000000      0.0      0.0  ...      0.0      0.0      0.0
25%        2.000000      0.0      0.0  ...      0.0      0.0      0.0
50%        4.000000      0.0      0.0  ...      0.0      0.0      0.0
75%        7.000000      0.0      0.0  ...      0.0      0.0      0.0
max        9.000000      0.0      0.0  ...      0.0      0.0      0.0

[8 rows x 785 columns]

In [4]:
#Problem 2
print((dataset[[1,2,3,4,5,6,7,8]]==0).sum())

1    20000
2    20000
3    20000
4    20000
5    20000
6    20000
7    20000
8    20000
dtype: int64

In [5]:
#Problem 3
dataset[[1,2,3,4,5]]=dataset[[1,2,3,4,5]].replace(0,numpy.NaN)
print(dataset.isnull().sum())
print(dataset.head(20))

0          0
1      20000
2      20000
3      20000
4      20000
       ...
780        0
781        0
782        0
783        0
784        0
Length: 785, dtype: int64
    0    1    2    3    4    5    6    ...  778  779  780  781  782  783  784
0     6  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
1     5  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
2     7  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
3     9  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
4     5  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
5     2  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
6     0  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
7     6  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
8     5  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
9     5  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
10    2  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
11    7  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
12    7  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
13    6  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
14    8  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
15    9  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
16    3  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
17    5  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
18    7  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0
19    6  NaN  NaN  NaN  NaN  NaN    0  ...    0    0    0    0    0    0    0

[20 rows x 785 columns]

In [6]:
#Problem 4
dataset.dropna(inplace=True)
print(dataset.head(20))
print(dataset.describe)
print(dataset.shape)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 785 columns]
<bound method NDFrame.describe of Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 785 columns]>
(0, 785)

In [7]:
#Problem 5
dataset.fillna(dataset.mean(),inplace= True)
print(dataset.isnull().sum())
print(dataset.head(20))

0      0
1      0
2      0
3      0
4      0
      ..
780    0
781    0
782    0
783    0
784    0
Length: 785, dtype: int64
Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 785 columns]

In [10]:
#Problem 6
X = dataset.iloc[:,:-1] #Retrieves all the columns except the last column
Y = dataset.iloc[:,-1] #Retrieves only the last column

print(X)
print(Y)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 784 columns]
Series([], Name: 784, dtype: int64)